@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --accent-color: #00bcff;
    --accent-color-1: #05df72;
    --star-color: #00786fcc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.animate-gradient-rotate {
    background-size: 200% 200%;
    animation: rotate-gradient 1s ease infinite;
}

@theme {
    --color-bck-light: #e9e9e9;
    --color-bck-dark: #030712;

    --color-txt-dark: #e9e9e9;
    --color-txt-light: #030712;

    --color-accent: var(--accent-color);
    --color-accent-1: var(--accent-color-1);
}

@keyframes rotate-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes simple-wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
        translate: 0 0;
    }
    10% {
        translate: 0 -1rem;
    }
    20% {
        transform: rotate(14deg);
        translate: 0 -1rem;
    }
    28% {
        transform: rotate(-8deg);
        translate: 0 -1rem;
    }
    36% {
        transform: rotate(14deg);
        translate: 0 -1rem;
    }
    44% {
        transform: rotate(-4deg);
        translate: 0 -1rem;
    }
    52% {
        transform: rotate(10deg);
        translate: 0 -1rem;
    }
    60% {
        transform: rotate(0deg);
        translate: 0 -1rem;
    }
    70% {
        transform: rotate(0deg);
        translate: 0 -1rem;
    }
    80% {
        transform: rotate(0deg);
        translate: 0 -1rem;
    }
    90% {
        transform: rotate(0deg);
        translate: 0 0rem;
    }
    100% {
        transform: rotate(0deg);
        translate: 0 0;
    }
}
